<h1>Listing reservations</h1>

<table>
  <tr>
    <th>Patient</th>
    <th>Start</th>
    <th>End</th>
    <th>Doctor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

</table>
TODO

<br />


